<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Chi tiết đơn hàng</h1>
        <p>Xem thông tin chi tiết đơn hàng</p>
    </div>

    @if(donHangResponse){
    <div class="row">
        <!-- Hiển thị thông tin người nhận -->
        <div class="col-md-6">
            <h2 class="product-header">Thông tin người nhận</h2>
            <div class="mb-3">
                <p class="form-label">Họ và tên: {{donHangResponse.fullname}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Email: {{donHangResponse.email}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Số điện thoại: {{donHangResponse.sodienthoai}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Địa chỉ: {{donHangResponse.diachi}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Ghi chú: {{donHangResponse.ghichu}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Phương thức thanh toán: {{donHangResponse.phuongthucthanhtoan}}</p>
            </div>
        </div>

        <!-- Hiển thị thông tin sản phẩm -->
        <div class="col-md-6">
            <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of donHangResponse.ctdhList; track item.masanpham.tensanpham){
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="https://images.pexels.com/photos/30455411/pexels-photo-30455411/free-photo-of-minimalist-black-and-white-fashion-photography.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                        alt="Hinh Anh" class="product-image">
                                    <span class="product-name">{{item.masanpham.tensanpham}}</span>
                                </div>
                            </td>
                            <td>{{item.soluong}}</td>
                            <td>{{item.giaban |number:'1.2-2'}}</td>
                            <td>{{item.tongtien |number:'1.2-2'}}</td>
                        </tr>
                    }
                        
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end">Tổng giá: {{donHangResponse.tongtien|number:'1.2-2'}}</h4>
            </div>
        </div>
    </div>
}
</div>
<app-footer></app-footer>
