<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang order-confirm</h1>
        <p>Cam on ban da dat hang</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">San pham</th>
                        <th>So luong</th>
                        <th>Don Gia</th>
                        <th>Tong gia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/30455411/pexels-photo-30455411/free-photo-of-minimalist-black-and-white-fashion-photography.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Hinh Anh" class="product-image">
                            <span class="product-name">Ten san pham</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 VND</td>
                    <td>200,000 VND</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-success" type="button">Tiep tuc mua sam</button>
        </div>
    </div>
</div>
<app-footer></app-footer>