<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
    </div>
    <form [formGroup]="orderForm">
        <div class="row">
            <div class="col-md-4">
                <h2 class="product-header">Thông tin người nhận</h2>
                <div class="mb-3">
                    <label for="name" class="form-label">Họ và tên</label>
                    <input type="text" formControlName="fullname" class="form-control" id="name"
                        [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                    @if(orderForm.get('fullname')!.invalid&& orderForm.get('fullname')!.touched)
                    {<div class="invalid-feedback">Họ và tên bắt buộc</div>}
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                    @if(orderForm.get('email')!.invalid&& orderForm.get('email')!.touched)
                    {<div class="invalid-feedback">Email không hợp lệ</div>}
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" formControlName="sodienthoai" class="form-control" id="phone"
                        [class.is-invalid]="orderForm.get('sodienthoai')!.invalid && orderForm.get('sodienthoai')!.touched">
                    @if(orderForm.get('sodienthoai')!.invalid&& orderForm.get('sodienthoai')!.touched)
                    {<div class="invalid-feedback">Số điện thoại không hợp lệ</div>}
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Địa chỉ</label>
                    <input type="text" formControlName="diachi" class="form-control" id="phone"
                        [class.is-invalid]="orderForm.get('diachi')!.invalid && orderForm.get('diachi')!.touched">
                    @if(orderForm.get('diachi')!.invalid&& orderForm.get('diachi')!.touched)
                    {<div class="invalid-feedback">Địa chỉ không hợp lệ</div>}
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Ghi chú</label>
                    <input type="text" formControlName="ghichu" class="form-control" id="phone"
                        [class.is-invalid]="orderForm.get('ghichu')!.invalid && orderForm.get('ghichu')!.touched">
                </div>
                <div class="form-group">
                    <label for="phuongthucthanhtoan">Phương thức thanh toán</label>
                    <select class="form-control" id="phuongthucthanhtoan" formControlName="phuongthucthanhtoan">
                        <option value="cod">Thanh toán khi nhận hàng (COD)</option>
                        <option value="other">Thanh toán khác</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of cartItems; let i = index">
                            <tr>
                                <td>
                                    <div class="product-info">
                                        <img [src]="item.sanPham.thumbnail" alt="Hinh Anh" class="product-image">
                                        <span class="product-name">{{item.sanPham.tensanpham}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-quantity">
                                        <div class="border-wrapper">
                                            <button (click)="decreaseQuantity(i)">-</button>
                                            <input type="text" [value]="item.quantity">
                                            <button (click)="increaseQuantity(i)">+</button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.sanPham.gia|number:'1.2-2'}}</td>
                                <td>{{item.sanPham.gia*item.quantity|number:'1.2-2'}}</td>
                                <td class="btn btn-danger" style="margin-top: 35px; margin-right: 15px;"
                                    (click)="confirmDelete(i)">Xóa</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="text-start mt-3">
                    <h4 class="header-text text-end">Tong gia: {{totalAmount|number:'1.2-2'}}</h4>
                </div>
                <div class="mt-3">
                    <h4 class="product-header">Nhập coupon</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhap coupon">
                        <button class="btn-gradient" type="button">Áp dụng</button>
                    </div>
                </div>
                <div class="text-start mt-3">
                    <button (click)="placeOrder()" class="btn-gradient" type="button">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>